<!DOCTYPE html>
<html>
<body>
  <style>
  
  </style>
<h1>MoldAI</h1>
{% block main %}

<div class="container">
  <div class="row">
    <div class="col">

      <h3>Upload an image</h3>
      <hr>

      <form action="/" method="POST" enctype="multipart/form-data">

        <div class="form-group">
          <div class="custom-file">
            <input type="file" class="custom-file-input" name="image" id="image">
            <label class="custom-file-label" for="image">Select image...</label>
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Upload</button>

      </form>

    </div>
  </div>
</div>

{% endblock %}
{% for thing in info %}
      <br>
      <h3>{{thing[0]}} : {{thing[1]}}</h3>
      <p><a href = '{{thing[2]}}/'> {{thing[3]}}</a></p>

      </br>
      
   {% endfor %}
</form>
</body>
</html